<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand" href="#"}}Flone{{/link-to}}
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {{#if session.isAuthenticated}}
        <li>{{#link-to 'user'}}Home{{/link-to}}</li>
        {{/if}}
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if session.isAuthenticated}}
        <li><a{{action 'invalidateSession'}}>Logout</a></li>
        {{else}}
        <li>{{#link-to 'auth.login'}}Login{{/link-to}}</li>
        {{/if}}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">

  {{outlet}}

</div> <!-- /container -->
