<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Flone Gallery</h1><p>
    <button class="btn btn-lg btn-primary" {{action 'facebookLogin'}}>Login to Facebook &raquo;</button>
  </p>
</div>
